.tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}


.tweetBox__input {
    padding: 20px;
    display: flex;
}

.tweetBox > form {
    display: flex;
    flex-direction: column;
}

.tweetBox__input > input {
    border: none;
}

